In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("./sample_data/california_housing_train.csv")

In [3]:
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [4]:
dataset1 = dataset[['population']]
dataset1.head()

   population
0      1015.0
1      1129.0
2       333.0
3       515.0
4       624.0

In [5]:
arr = dataset1.to_numpy()
print(arr)

[[1015.]
 [1129.]
 [ 333.]
 ...
 [1244.]
 [1298.]
 [ 806.]]

In [ ]:
#合計値
np.sum(arr)

np.float64(24302757.0)

In [7]:
#平均値
np.mean(arr)

np.float64(1429.5739411764705)

In [8]:
#中央値
np.median(arr)

np.float64(1167.0)

In [9]:
#標本分散
np.var(arr, ddof=0)

np.float64(1317488.9119444669)

In [10]:
#不偏分散
np.var(arr, ddof=1)

np.float64(1317566.4158512817)

In [11]:
#標本標準偏差
np.std(arr, ddof=0)

np.float64(1147.819198281884)

In [12]:
#不偏標準偏差
np.std(arr, ddof=1)

np.float64(1147.8529591595266)